.container{
    display: flex;
    background-color: white;
    height: 50px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.containAgain{
    display: flex;
    background-color: white;
    height: 50px;
    flex-flow: row wrap;
    justify-content: right;
}

.containYetAgain{
    display: flex;
    background-color: white;
    height: 50px;
    flex-flow: row wrap;
    justify-content: right;
}

.logo{
    display: flex;
    background-color: white;
    justify-content: flex-start;
}

.FinalContainer{
    display: flex;
    justify-content: space-between;
}